<div class="panels">
<h2 class="session">Sign up</h2>
</br >

<%= form_for(resource, :as => resource_name, 
                          :url => '#',
                          :html => {:id => "sign_up_user"},
                          :format => :json,
                          :remote => true
                          ) do |f| %>
  <%= devise_error_messages! %>

  <div class="sign-up-form"><%= f.label :username %><br />
  <%= f.text_field :username %></div>

  <div class="sign-up-form"><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>
  <div class="sign-up-form"><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, placeholder: "Address" %></div>

  <div class="sign-up-form"><%= f.label :password %><br />
  <%= f.password_field :password, placeholder: "Password" %></div>

  <div class="sign-up-form"><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, placeholder: "Password" %></div>

  <div class="sign-up-form"><%= f.label :phone_number %><br />
  <%= f.text_field :phone_number, placeholder: "Phone Number" %></div>

  <div class="sign-up-form"><%= f.label :address %><br />
  <%= f.text_field :location, placeholder: "Address" %></div>

  <div class="sign-up-form"><%= f.label :zip_code %><br />
  <%= f.text_field :zip_code, placeholder: "Zip Code" %></div>

  <div class="sign-up-form"><%= f.label :is_annoying? %><br />
  <%= f.check_box :is_annoying %></div>


  <div class="sign-up-button"><%= f.submit "Sign up" %></div>
<% end %>
</div>