<!DOCTYPE html>
<html>
<head>
  <title>Mom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>


<link href='http://fonts.googleapis.com/css?family=Miniver|Lily+Script+One|Petit+Formal+Script|Great+Vibes|Merienda+One|Vibur|Playball|Norican|Pacifico|Dancing+Script' rel='stylesheet' type='text/css'>

</head>
<body>
  <nav>
  <% if current_user %>
    Welcome, <%= current_user.email%> <%= link_to "Logout", destroy_user_session_path, :method => :delete %><%= button_to "Home", root_path %>
  <% else %>
    <%= button_to "Register", new_user_registration_path, :method => :get %>
    <%= button_to "Sign-In", new_user_session_path, :method => :get %>
    <% end %>
</nav>
<!--	<div class="register" style="display: none">This is hidden</div> -->

<%= yield %>

</body>
</html>
